input {
  height: 100%;
  width: 400px;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 5px;
  outline: none;
  margin-right: 10px;
  background-color: #3b3b3b;
  color: white;
}

input[type="search" i]::-webkit-search-cancel-button {
  cursor: pointer !important;
}

.filterBtn {
  border-radius: 8px;
  color: white;
}
.filterBtn:hover {
  background-color: #1a1a1a;
}
